/* =========================
   RESET / BASE
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

/* =========================
   REUSABLE COMPONENTS
========================= */
.btn {
    padding: 12px 25px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* =========================
   NAVBAR
========================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #111;
    color: white;
    position: relative;
    font-size: 15px;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* MOBILE NAV */
.nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #111;
    display: none;
}

.nav.active {
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-links li {
    padding: 15px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* =========================
   SECTIONS
========================= */
section {
    text-align: center;
    /* padding: 40px 20px; */
}

/* =========================
   ABOUT US
========================= */
.about {
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 5px;
    text-align: center;
    background-color: #111;
    align-items: center;
}

.about p {
    font-size: 0.8rem;
    color: #f4f4f4;
}

.about-cover {
    height: 80vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;

}

.about-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.35;
}


.about-img {
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img img {
    border-radius: 20px;
    display: block;
    height: 100%;

}

.about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 80%;
    align-items: c;
}

#about-us span {
    font-size: 1.1rem;
    font-weight: bold;
    color: red;
}

.values {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    }

    .line {
         display: inline-block;
    background-color: #ffffff75;
    width: 70%;
    height: 1px;

    }

.about-second-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-grid {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* =========================
   FOOTER
========================= */
.footer {
    background: #111;
    color: white;
}

.footer-grid {
    display: grid;
    gap: 20px;
    text-align: center;
}


@media (min-width: 320px) {
.about-img {
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .about-second-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    text-align: center;
}
}


/* =========================
   TABLET (≥768px)
========================= */
@media (min-width: 768px) {

    .menu-toggle {
        display: none;
    }

    .nav {
        position: static;
        display: block;
        width: auto;
    }

    .nav-links {
        flex-direction: row;
        gap: 20px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

     .about-second-content {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    text-align: center;
}

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }
}

/* =========================
   DESKTOP (≥1024px)
========================= */
@media (min-width: 1024px) {

    .hero {
        height: 80vh;
    }

    .hero h1 {
        font-size: 3rem;
    }

 .about p {
    font-size: 1rem;
    color: #f4f4f4;
    }
#about-us span {
font-size: 1.3rem;
}

    .about-second-content {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    text-align: center;
}
.about-img {
    height: 450px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

}